.character-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dac58c;
    border-radius: 1em;
    margin: 1em auto 1em auto;
    width: 65%;
}

.name-title {
    font-size: large;
    font-weight: bold;
    margin: 0.3em;
}

.u-list {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    list-style-type: none;
    margin-top: 0.1em;
    padding: 0em;
}

.list-info {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    margin: 0;
}