.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    height: 20vh;
  }
}

.App-header {
  background-color: #000000;
  color: #ffffff;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.character-title {
  font-size: x-large;
  font-weight: bold;
  color: #dac58c;
  text-shadow: 0 0 1em #adadad;
}

.App-link {
  color: #61dafb;
}

